body {
    background: url("bg-image.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
   
}

.page-wrapper {
    margin: 20px 10px;
}

.intro {
    background: transparent url("meditation-art.gif") no-repeat right top;
    height: 387px;
}

header {
    float: left;
}

h1 {
  display: flex;
  justify-content: center; 
  font-family: 'Anton', sans-serif;
  font-weight: 800;
  font-size: 65px; 
  margin: 0;
}

h2 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

abbr {
    margin: 0 5px;
}

.summary {
    clear: both;
}